.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  margin-bottom: 3rem;
}

.titleContainer {
  margin-bottom: 20px;
}

.newsTitle {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 1.2; 
}

.secondTitle {
  margin-top: 0;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  font-size: 16px;
}

.newsDate {
  margin: 0;
  font-size: 14px;
}

@media (min-width: 600px) {
  .newsTitle {
    font-size: 24px;
  }

  .newsDate {
    font-size: 16px;
  }
}
